/* 학과별게시판4 */

position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;
border-radius: 46px;


/* Sign Up */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 73px;
gap: 10px;

position: absolute;
width: 204px;
height: 49px;
left: 95px;
top: 743px;

background: #FFFFFF;
border: 1px solid #01499A;
border-radius: 18px;


/* Sign Up */

display: none;
width: 42px;
height: 16px;

font-family: 'AppleGothic';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */
text-align: center;

/* Grayscale/4 */
color: #F4F6F5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 학과별게시판 */

position: absolute;
width: 70px;
height: 24px;
left: 161px;
top: 44px;

font-family: 'AppleSDGothicNeoM00';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 컴퓨터공학부 OOO */

position: absolute;
width: 101px;
height: 24px;
left: 61px;
top: 83px;

font-family: 'AppleSDGothicNeoM00';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 컴퓨터공학부 */

position: absolute;
width: 54px;
height: 48px;
left: 169px;
top: 58px;

font-family: 'AppleSDGothicNeoM00';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 24px;
/* or 240% */
text-align: center;
letter-spacing: 0.38px;

color: #868383;



/* 11/26 01:39 */

position: absolute;
width: 52px;
height: 24px;
left: 62px;
top: 97px;

font-family: 'AppleSDGothicNeoM00';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 24px;
/* identical to box height, or 240% */
text-align: center;
letter-spacing: 0.38px;

color: #868383;



/* image 3 */

position: absolute;
width: 30px;
height: 16.73px;
left: 51px;
top: 55px;

background: url(image);


/* _Glyphs / Quick Action / Edit */

position: absolute;
left: 33.33%;
right: 57.44%;
top: 88.86%;
bottom: 6.87%;



/* Icon */

position: absolute;
width: 23px;
height: 23px;
left: calc(50% - 23px/2 + 1px);
top: calc(50% - 23px/2 - 1px);

background: linear-gradient(0deg, #01499A, #01499A), #4D4D4D;
background-blend-mode: normal, color-burn;


/* Shape */

position: absolute;
width: 20.18px;
height: 20.07px;
left: calc(50% - 20.18px/2 - 0.41px);
top: calc(50% - 20.07px/2 + 0.46px);

background: rgba(255, 255, 255, 0.0001);


/* Shape */

position: absolute;
width: 13.27px;
height: 13.19px;
left: calc(50% - 13.27px/2 + 4.24px);
top: calc(50% - 13.19px/2 - 4.28px);

background: rgba(255, 255, 255, 0.0001);


/* Shape */

position: absolute;
width: 2.99px;
height: 2.98px;
left: calc(50% - 2.99px/2 + 11px);
top: calc(50% - 2.98px/2 - 11.01px);

background: rgba(255, 255, 255, 0.0001);


/* 공지 수정 */

position: absolute;
width: 84px;
height: 24px;
left: 172px;
top: 754px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 24px;
/* identical to box height, or 109% */
text-align: center;
letter-spacing: 0.38px;

color: #01499A;



/* 중요공지 */

position: absolute;
width: 282px;
height: 63px;
left: 37px;
top: 122px;



/* 공지 내용을 확인할 수 있습니다. */

position: absolute;
width: 170px;
height: 24px;
left: 45px;
top: 146px;

font-family: 'AppleSDGothicNeoM00';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 자신이 쓴 공지는 수정 버튼을 통해 수정 가능합니다. */

position: absolute;
width: 274px;
height: 24px;
left: 45px;
top: 161px;

font-family: 'AppleSDGothicNeoM00';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 중요공지 안내 */

position: absolute;
width: 112px;
height: 24px;
left: 37px;
top: 122px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* image 2 */

position: absolute;
width: 500px;
height: 278.75px;
left: -1139px;
top: -279px;

background: url(image);


/* 수정 */

position: absolute;
width: 20px;
height: 48px;
left: 339px;
top: 51px;

font-family: 'AppleSDGothicNeoM00';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 24px;
/* or 218% */
text-align: center;
letter-spacing: 0.38px;

color: #FFFFFF;



/* _Glyphs / Quick Action / Profile */

position: absolute;
left: 6.67%;
right: 84.1%;
top: 9.72%;
bottom: 86.02%;



/* Icon */

position: absolute;
width: 26px;
height: 26px;
left: 5px;
top: 5.5px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #4D4D4D;
background-blend-mode: normal, color-burn;


/* Exclude */

position: absolute;
width: 26px;
height: 26px;
left: 5px;
top: 5.5px;

background: #DADADA;


/* Oval */

position: absolute;
width: 26px;
height: 26px;
left: calc(50% - 26px/2);
top: calc(50% - 26px/2 + 0.5px);

background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #4D4D4D;
background-blend-mode: normal, color-burn;


/* Oval */

position: absolute;
width: 22px;
height: 22px;
left: calc(50% - 22px/2);
top: calc(50% - 22px/2 + 0.5px);

background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #4D4D4D;
background-blend-mode: normal, color-burn;


/* Shape */

position: absolute;
width: 14.88px;
height: 19.56px;
left: calc(50% - 14.88px/2 + 0.03px);
top: calc(50% - 19.56px/2 + 2.28px);

background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #4D4D4D;
background-blend-mode: normal, color-burn;


/* Glyph */

position: absolute;
width: 22px;
height: 8.5px;
right: 26px;
top: calc(50% - 8.5px/2 - 357.75px);

background: #343442;
mix-blend-mode: normal;
opacity: 0.28;


/* Exclude */

position: absolute;
width: 22px;
height: 5px;
left: 342px;
top: 63.5px;

background: #DADADA;


/* Path */

position: absolute;
width: 22px;
height: 1.5px;
right: 26px;
top: calc(50% - 1.5px/2 - 354.25px);

background: #343442;
mix-blend-mode: normal;
opacity: 0.28;


/* Path */

position: absolute;
width: 22px;
height: 1.5px;
right: 26px;
top: calc(50% - 1.5px/2 - 357.75px);

background: #343442;
mix-blend-mode: normal;
opacity: 0.28;


/* Path */

position: absolute;
width: 22px;
height: 1.5px;
right: 26px;
top: calc(50% - 1.5px/2 - 361.25px);

background: #343442;
mix-blend-mode: normal;
opacity: 0.28;


/* vuesax/linear/arrow-left */

position: absolute;
width: 36px;
height: 36px;
left: 21px;
top: 45px;



/* vuesax/linear/arrow-left */

position: absolute;
width: 24px;
height: 24px;
left: 6px;
top: 6px;



/* arrow-left */

position: absolute;
width: 24px;
height: 24px;
left: 6px;
top: 6px;



/* Vector */

position: absolute;
left: 26.39%;
right: 56.75%;
top: 33.14%;
bottom: 33.14%;

/* Dark/100 */
border: 1.5px solid #292D32;


/* Vector */

position: absolute;
left: 26.86%;
right: 26.39%;
top: 50%;
bottom: 50%;

/* Dark/100 */
border: 1.5px solid #292D32;


/* Vector */

position: absolute;
left: 83.33%;
right: -50%;
top: 83.33%;
bottom: -50%;

opacity: 0;
transform: rotate(-180deg);


/* Status Bar */

position: absolute;
height: 44px;
left: 7px;
right: 8px;
top: 0px;



/* Notch */

position: absolute;
height: 30px;
left: 0px;
right: 0px;
top: 0px;



/* Subtract */

position: absolute;
visibility: hidden;
width: 44px;
height: 30px;
left: 77px;
top: calc(50% - 30px/2);

/* System Bg Dark Base / Primary */
background: #000000;


/* Rectangle 11 */

position: absolute;
visibility: hidden;
left: 121px;
right: 121px;
top: 0%;
bottom: 0%;

/* System Bg Dark Base / Primary */
background: #000000;


/* Subtract */

position: absolute;
visibility: hidden;
width: 44px;
height: 30px;
right: 33px;
top: calc(50% - 30px/2);

/* System Bg Dark Base / Primary */
background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Status Icons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 69px;
height: 14px;
right: 14px;
top: 16px;



/* Network Signal / Light

Network Signal Strength • Light
*/

width: 20px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Path */

position: absolute;
left: 55%;
right: 30%;
top: 28.57%;
bottom: 14.29%;

background: #D1D1D6;


/* Path */

position: absolute;
left: 32.5%;
right: 52.5%;
top: 42.86%;
bottom: 14.29%;

background: #D1D1D6;


/* Path */

position: absolute;
left: 10%;
right: 75%;
top: 53.57%;
bottom: 14.29%;

background: #D1D1D6;


/* Empty Bar */

position: absolute;
left: 77.5%;
right: 7.5%;
top: 14.29%;
bottom: 14.29%;

background: rgba(60, 60, 67, 0.18);


/* Path */

position: absolute;
left: 55%;
right: 30%;
top: 28.57%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 32.5%;
right: 52.5%;
top: 42.86%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 10%;
right: 75%;
top: 53.57%;
bottom: 14.29%;

background: #000000;


/* Empty Bar */

position: absolute;
visibility: hidden;
left: 77.5%;
right: 7.5%;
top: 14.29%;
bottom: 14.29%;

/* Label Light / Primary */
background: #000000;


/* WiFi Signal / Light */

width: 16px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Path */

position: absolute;
left: 37.11%;
right: 35.56%;
top: 63.85%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 21.66%;
right: 20.1%;
top: 39.07%;
bottom: 37.26%;

background: #000000;


/* Path */

position: absolute;
left: 6.25%;
right: 4.69%;
top: 14.29%;
bottom: 54.84%;

background: #000000;


/* Battery / Light */

width: 25px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 􀋦 */

position: absolute;
visibility: hidden;
width: 8px;
height: 12px;
left: 8px;
top: 1px;

/* Label Dark / Primary */
background: #FFFFFF;


/* Subtract */

position: absolute;
visibility: hidden;
width: 23px;
height: 12px;
left: 0px;
top: 1px;

/* Label Dark / Tertiary */
background: rgba(235, 235, 245, 0.3);


/* Rectangle 23 */

position: absolute;
width: 1px;
height: 4px;
left: 24px;
top: 5px;

background: rgba(60, 60, 67, 0.6);


/* Battery */

position: absolute;
visibility: hidden;
width: 19px;
height: 8px;
left: 2px;
top: 3px;



/* 100 */

position: absolute;
width: 19px;
height: 8px;
left: 2px;
top: 3px;

/* Color Light / Green */
background: #34C759;


/* 50 */

position: absolute;
visibility: hidden;
width: 8.45px;
height: 8px;
left: 2px;
top: 3px;

/* Color Light / Green */
background: #34C759;


/* 10 */

position: absolute;
visibility: hidden;
width: 3px;
height: 8px;
left: 2px;
top: 3px;

/* Color Dark / Yellow */
background: #FFD60A;


/* Rectangle 21 (Stroke) */

position: absolute;
width: 23px;
height: 12px;
left: 0px;
top: 1px;

background: rgba(60, 60, 67, 0.6);


/* Rectangle 20 */

position: absolute;
width: 19px;
height: 8px;
left: 2px;
top: calc(50% - 8px/2);

background: #000000;
border-radius: 1px;


/* Indicator

Recording Indicator
*/

position: absolute;
width: 6px;
height: 6px;
right: 71px;
top: 8px;



/* Indicator */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* SystemGreen / Light

class var systemGreen: UIColor
*/
background: #34C759;


/* Time / Light */

position: absolute;
width: 54px;
height: 21px;
left: 21px;
top: 12px;

border-radius: 20px;


/* 9:41 */

position: absolute;
width: 33px;
height: 15px;
left: calc(50% - 33px/2 + 0.5px);
top: calc(50% - 15px/2);



/* 9:41 */

position: absolute;
width: 28.43px;
height: 11.09px;
left: calc(50% - 28.43px/2 - 0.29px);
top: calc(50% - 11.09px/2 + 0.04px);

background: #000000;


/* Home Indicator */

position: absolute;
height: 34px;
left: 7px;
right: 8px;
bottom: 0px;



/* Bar

Bar Appearance
*/

position: absolute;
height: 5px;
left: 120px;
right: 121px;
bottom: 8px;



/* Base */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #000000;
border-radius: 10px;
