/* 아이디, 비밀번호 찾기 */

position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;
border-radius: 46px;


/* Line 2 */

position: absolute;
width: 390px;
height: 0px;
left: 0px;
top: 89px;

border: 1px solid #D1D1D6;


/* Frame */

position: absolute;
width: 30px;
height: 30px;
left: 330px;
top: 48px;



/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 1.5px solid #000000;


/* 아이디 찾기 */

position: absolute;
width: 67px;
height: 24px;
left: 160px;
top: 51px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* Rectangle 50 */

position: absolute;
width: 212px;
height: 37px;
left: 27px;
top: 209px;

background: #F8F8F8;


/* Rectangle 51 */

position: absolute;
width: 212px;
height: 37px;
left: 27px;
top: 283px;

background: #F8F8F8;


/* Rectangle 54 */

position: absolute;
width: 212px;
height: 37px;
left: 27px;
top: 347px;

background: #F8F8F8;


/* 휴대폰 번호 입력(-제외) */

position: absolute;
width: 137px;
height: 24px;
left: 32px;
top: 289px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.38px;

color: #979797;



/* 인증번호 입력 */

position: absolute;
width: 79px;
height: 24px;
left: 31px;
top: 353px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.38px;

color: #979797;



/* Rectangle 52 */

position: absolute;
width: 97px;
height: 37px;
left: 270px;
top: 209px;

background: #868383;


/* Rectangle 53 */

position: absolute;
width: 97px;
height: 37px;
left: 271px;
top: 283px;

background: #868383;


/* Rectangle 55 */

position: absolute;
width: 97px;
height: 37px;
left: 271px;
top: 347px;

background: #868383;


/* 확인 */

position: absolute;
width: 25px;
height: 24px;
left: 307px;
top: 215px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.38px;

color: #FFFFFF;



/* 확인 */

position: absolute;
width: 25px;
height: 24px;
left: 306px;
top: 353px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.38px;

color: #FFFFFF;



/* 아이디 입력 */

position: absolute;
width: 67px;
height: 24px;
left: 31px;
top: 215px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.38px;

color: #979797;



/* 인증번호 전송 */

position: absolute;
width: 79px;
height: 24px;
left: 280px;
top: 289px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.38px;

color: #FFFFFF;



/* login_button */

position: absolute;
width: 295.1px;
height: 43px;
left: 45px;
top: 562px;



/* Frame login */

position: absolute;
width: 295.1px;
height: 43px;
left: 45px;
top: 562px;

background: rgba(83, 83, 83, 0.6);
border-radius: 4.21569px;


/* 비밀번호 찾기 */

position: absolute;
width: 83px;
height: 21px;
left: 106.16px;
top: 11.65px;

font-family: 'AppleSDGothicNeoB00';
font-style: normal;
font-weight: 400;
font-size: 15.1765px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* vuesax/linear/arrow-left */

position: absolute;
width: 36px;
height: 36px;
left: 21px;
top: 45px;



/* vuesax/linear/arrow-left */

position: absolute;
width: 24px;
height: 24px;
left: 6px;
top: 6px;



/* arrow-left */

position: absolute;
width: 24px;
height: 24px;
left: 6px;
top: 6px;



/* Vector */

position: absolute;
left: 26.39%;
right: 56.75%;
top: 33.14%;
bottom: 33.14%;

/* Dark/100 */
border: 1.5px solid #292D32;


/* Vector */

position: absolute;
left: 26.86%;
right: 26.39%;
top: 50%;
bottom: 50%;

/* Dark/100 */
border: 1.5px solid #292D32;


/* Vector */

position: absolute;
left: 83.33%;
right: -50%;
top: 83.33%;
bottom: -50%;

opacity: 0;
transform: rotate(-180deg);


/* Status Bar */

position: absolute;
height: 44px;
left: 7px;
right: 8px;
top: 0px;



/* Notch */

position: absolute;
height: 30px;
left: 0px;
right: 0px;
top: 0px;



/* Subtract */

position: absolute;
visibility: hidden;
width: 44px;
height: 30px;
left: 77px;
top: calc(50% - 30px/2);

/* System Bg Dark Base / Primary */
background: #000000;


/* Rectangle 11 */

position: absolute;
visibility: hidden;
left: 121px;
right: 121px;
top: 0%;
bottom: 0%;

/* System Bg Dark Base / Primary */
background: #000000;


/* Subtract */

position: absolute;
visibility: hidden;
width: 44px;
height: 30px;
right: 33px;
top: calc(50% - 30px/2);

/* System Bg Dark Base / Primary */
background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Status Icons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 69px;
height: 14px;
right: 14px;
top: 16px;



/* Network Signal / Light

Network Signal Strength • Light
*/

width: 20px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Path */

position: absolute;
left: 55%;
right: 30%;
top: 28.57%;
bottom: 14.29%;

background: #D1D1D6;


/* Path */

position: absolute;
left: 32.5%;
right: 52.5%;
top: 42.86%;
bottom: 14.29%;

background: #D1D1D6;


/* Path */

position: absolute;
left: 10%;
right: 75%;
top: 53.57%;
bottom: 14.29%;

background: #D1D1D6;


/* Empty Bar */

position: absolute;
left: 77.5%;
right: 7.5%;
top: 14.29%;
bottom: 14.29%;

background: rgba(60, 60, 67, 0.18);


/* Path */

position: absolute;
left: 55%;
right: 30%;
top: 28.57%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 32.5%;
right: 52.5%;
top: 42.86%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 10%;
right: 75%;
top: 53.57%;
bottom: 14.29%;

background: #000000;


/* Empty Bar */

position: absolute;
visibility: hidden;
left: 77.5%;
right: 7.5%;
top: 14.29%;
bottom: 14.29%;

/* Label Light / Primary */
background: #000000;


/* WiFi Signal / Light */

width: 16px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Path */

position: absolute;
left: 37.11%;
right: 35.56%;
top: 63.85%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 21.66%;
right: 20.1%;
top: 39.07%;
bottom: 37.26%;

background: #000000;


/* Path */

position: absolute;
left: 6.25%;
right: 4.69%;
top: 14.29%;
bottom: 54.84%;

background: #000000;


/* Battery / Light */

width: 25px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 􀋦 */

position: absolute;
visibility: hidden;
width: 8px;
height: 12px;
left: 8px;
top: 1px;

/* Label Dark / Primary */
background: #FFFFFF;


/* Subtract */

position: absolute;
visibility: hidden;
width: 23px;
height: 12px;
left: 0px;
top: 1px;

/* Label Dark / Tertiary */
background: rgba(235, 235, 245, 0.3);


/* Rectangle 23 */

position: absolute;
width: 1px;
height: 4px;
left: 24px;
top: 5px;

background: rgba(60, 60, 67, 0.6);


/* Battery */

position: absolute;
visibility: hidden;
width: 19px;
height: 8px;
left: 2px;
top: 3px;



/* 100 */

position: absolute;
width: 19px;
height: 8px;
left: 2px;
top: 3px;

/* Color Light / Green */
background: #34C759;


/* 50 */

position: absolute;
visibility: hidden;
width: 8.45px;
height: 8px;
left: 2px;
top: 3px;

/* Color Light / Green */
background: #34C759;


/* 10 */

position: absolute;
visibility: hidden;
width: 3px;
height: 8px;
left: 2px;
top: 3px;

/* Color Dark / Yellow */
background: #FFD60A;


/* Rectangle 21 (Stroke) */

position: absolute;
width: 23px;
height: 12px;
left: 0px;
top: 1px;

background: rgba(60, 60, 67, 0.6);


/* Rectangle 20 */

position: absolute;
width: 19px;
height: 8px;
left: 2px;
top: calc(50% - 8px/2);

background: #000000;
border-radius: 1px;


/* Indicator

Recording Indicator
*/

position: absolute;
width: 6px;
height: 6px;
right: 71px;
top: 8px;



/* Indicator */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* SystemGreen / Light

class var systemGreen: UIColor
*/
background: #34C759;


/* Time / Light */

position: absolute;
width: 54px;
height: 21px;
left: 21px;
top: 12px;

border-radius: 20px;


/* 9:41 */

position: absolute;
width: 33px;
height: 15px;
left: calc(50% - 33px/2 + 0.5px);
top: calc(50% - 15px/2);



/* 9:41 */

position: absolute;
width: 28.43px;
height: 11.09px;
left: calc(50% - 28.43px/2 - 0.29px);
top: calc(50% - 11.09px/2 + 0.04px);

background: #000000;


/* Home Indicator */

position: absolute;
height: 34px;
left: 7px;
right: 8px;
bottom: 0px;



/* Bar

Bar Appearance
*/

position: absolute;
height: 5px;
left: 120px;
right: 121px;
bottom: 8px;



/* Base */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #000000;
border-radius: 10px;
