/* 메인페이지 */

position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;
border-radius: 46px;


/* image 4 */

position: absolute;
width: 69px;
height: 29px;
left: 160px;
top: 44px;

background: url(image);


/* Rectangle 63 */

position: absolute;
width: 390px;
height: 98px;
left: 0px;
top: 87px;

background: #D9D9D9;


/* 닉네임 */

position: absolute;
width: 37px;
height: 24px;
left: 22px;
top: 151px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #868383;



/* 컴퓨터공학부 202300000 */

position: absolute;
width: 204px;
height: 24px;
left: 21px;
top: 103px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 이름 */

position: absolute;
width: 25px;
height: 24px;
left: 21px;
top: 127px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #868383;



/* Line 6 */

position: absolute;
width: 390px;
height: 0px;
left: 0px;
top: 235px;

border: 1px solid #D1D1D6;


/* Vector */

position: absolute;
left: 91.79%;
right: 4.29%;
top: 23.1%;
bottom: 73.46%;

background: #000000;


/* Line 11 */

position: absolute;
width: 390px;
height: 0px;
left: 0px;
top: 482px;

border: 1px solid #D1D1D6;


/* Vector */

position: absolute;
left: 91.79%;
right: 4.29%;
top: 52.37%;
bottom: 44.19%;

background: #000000;


/* Line 10 */

position: absolute;
width: 390px;
height: 0px;
left: 0px;
top: 433px;

border: 1px solid #D1D1D6;


/* Vector */

position: absolute;
left: 91.79%;
right: 4.29%;
top: 46.56%;
bottom: 50%;

background: #000000;


/* Line 9 */

position: absolute;
width: 390px;
height: 0px;
left: 0px;
top: 382px;

border: 1px solid #D1D1D6;


/* Vector */

position: absolute;
left: 91.79%;
right: 4.29%;
top: 40.52%;
bottom: 56.04%;

background: #000000;


/* Line 7 */

position: absolute;
width: 390px;
height: 0px;
left: 0px;
top: 284px;

border: 1px solid #D1D1D6;


/* Line 8 */

position: absolute;
width: 390px;
height: 0px;
left: 0px;
top: 333px;

border: 1px solid #D1D1D6;


/* Vector */

position: absolute;
left: 91.79%;
right: 4.29%;
top: 34.72%;
bottom: 61.85%;

background: #000000;


/* Vector */

position: absolute;
left: 91.79%;
right: 4.29%;
top: 28.91%;
bottom: 67.65%;

background: #000000;


/* 학과 */

position: absolute;
width: 25px;
height: 24px;
left: 21px;
top: 200px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 수업 */

position: absolute;
width: 25px;
height: 24px;
left: 21px;
top: 247px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 공동구매 */

position: absolute;
width: 49px;
height: 24px;
left: 20px;
top: 297px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 스터디 */

position: absolute;
width: 37px;
height: 24px;
left: 21px;
top: 346px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 랜덤매칭 */

position: absolute;
width: 49px;
height: 24px;
left: 21px;
top: 396px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* 모두의 공간 */

position: absolute;
width: 65px;
height: 24px;
left: 21px;
top: 445px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* identical to box height, or 185% */
text-align: center;
letter-spacing: 0.38px;

color: #000000;



/* Rectangle 63 */

position: absolute;
width: 393px;
height: 70px;
left: 0px;
top: 772px;

background: #7FB3FA;


/* Frame */

position: absolute;
width: 24px;
height: 24px;
left: 300px;
top: 755px;



/* Vector */

position: absolute;
left: 36.15%;
right: 58.21%;
top: 94.55%;
bottom: 2.96%;

border: 1.5px solid #FFFF66;


/* Frame */

position: absolute;
width: 24px;
height: 24px;
left: 236px;
top: 795px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 15.62%;
bottom: 12.5%;

border: 1.5px solid #FFFF66;


/* Vector */

position: absolute;
left: 11.03%;
right: 82.56%;
top: 94.08%;
bottom: 2.96%;

border: 1.5px solid #FFFF66;


/* Vector */

position: absolute;
left: 84.87%;
right: 8.72%;
top: 94.08%;
bottom: 2.96%;

border: 1.5px solid #FFFF66;


/* Home Indicator */

position: absolute;
height: 34px;
left: 10px;
right: 5px;
bottom: -1px;



/* Bar

Bar Appearance
*/

position: absolute;
height: 5px;
left: 120px;
right: 121px;
bottom: 8px;



/* Base */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #000000;
border-radius: 10px;


/* Home Indicator */

position: absolute;
height: 34px;
left: 13px;
right: 2px;
bottom: -1px;



/* Bar

Bar Appearance
*/

position: absolute;
height: 5px;
left: 120px;
right: 121px;
bottom: 8px;



/* Base */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #000000;
border-radius: 10px;


/* Status Bar */

position: absolute;
height: 44px;
left: 7px;
right: 8px;
top: 0px;



/* Notch */

position: absolute;
height: 30px;
left: 0px;
right: 0px;
top: 0px;



/* Subtract */

position: absolute;
visibility: hidden;
width: 44px;
height: 30px;
left: 77px;
top: calc(50% - 30px/2);

/* System Bg Dark Base / Primary */
background: #000000;


/* Rectangle 11 */

position: absolute;
visibility: hidden;
left: 121px;
right: 121px;
top: 0%;
bottom: 0%;

/* System Bg Dark Base / Primary */
background: #000000;


/* Subtract */

position: absolute;
visibility: hidden;
width: 44px;
height: 30px;
right: 33px;
top: calc(50% - 30px/2);

/* System Bg Dark Base / Primary */
background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Status Icons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 69px;
height: 14px;
right: 14px;
top: 16px;



/* Network Signal / Light

Network Signal Strength • Light
*/

width: 20px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Path */

position: absolute;
left: 55%;
right: 30%;
top: 28.57%;
bottom: 14.29%;

background: #D1D1D6;


/* Path */

position: absolute;
left: 32.5%;
right: 52.5%;
top: 42.86%;
bottom: 14.29%;

background: #D1D1D6;


/* Path */

position: absolute;
left: 10%;
right: 75%;
top: 53.57%;
bottom: 14.29%;

background: #D1D1D6;


/* Empty Bar */

position: absolute;
left: 77.5%;
right: 7.5%;
top: 14.29%;
bottom: 14.29%;

background: rgba(60, 60, 67, 0.18);


/* Path */

position: absolute;
left: 55%;
right: 30%;
top: 28.57%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 32.5%;
right: 52.5%;
top: 42.86%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 10%;
right: 75%;
top: 53.57%;
bottom: 14.29%;

background: #000000;


/* Empty Bar */

position: absolute;
visibility: hidden;
left: 77.5%;
right: 7.5%;
top: 14.29%;
bottom: 14.29%;

/* Label Light / Primary */
background: #000000;


/* WiFi Signal / Light */

width: 16px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Path */

position: absolute;
left: 37.11%;
right: 35.56%;
top: 63.85%;
bottom: 14.29%;

background: #000000;


/* Path */

position: absolute;
left: 21.66%;
right: 20.1%;
top: 39.07%;
bottom: 37.26%;

background: #000000;


/* Path */

position: absolute;
left: 6.25%;
right: 4.69%;
top: 14.29%;
bottom: 54.84%;

background: #000000;


/* Battery / Light */

width: 25px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 􀋦 */

position: absolute;
visibility: hidden;
width: 8px;
height: 12px;
left: 8px;
top: 1px;

/* Label Dark / Primary */
background: #FFFFFF;


/* Subtract */

position: absolute;
visibility: hidden;
width: 23px;
height: 12px;
left: 0px;
top: 1px;

/* Label Dark / Tertiary */
background: rgba(235, 235, 245, 0.3);


/* Rectangle 23 */

position: absolute;
width: 1px;
height: 4px;
left: 24px;
top: 5px;

background: rgba(60, 60, 67, 0.6);


/* Battery */

position: absolute;
visibility: hidden;
width: 19px;
height: 8px;
left: 2px;
top: 3px;



/* 100 */

position: absolute;
width: 19px;
height: 8px;
left: 2px;
top: 3px;

/* Color Light / Green */
background: #34C759;


/* 50 */

position: absolute;
visibility: hidden;
width: 8.45px;
height: 8px;
left: 2px;
top: 3px;

/* Color Light / Green */
background: #34C759;


/* 10 */

position: absolute;
visibility: hidden;
width: 3px;
height: 8px;
left: 2px;
top: 3px;

/* Color Dark / Yellow */
background: #FFD60A;


/* Rectangle 21 (Stroke) */

position: absolute;
width: 23px;
height: 12px;
left: 0px;
top: 1px;

background: rgba(60, 60, 67, 0.6);


/* Rectangle 20 */

position: absolute;
width: 19px;
height: 8px;
left: 2px;
top: calc(50% - 8px/2);

background: #000000;
border-radius: 1px;


/* Indicator

Recording Indicator
*/

position: absolute;
width: 6px;
height: 6px;
right: 71px;
top: 8px;



/* Indicator */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* SystemGreen / Light

class var systemGreen: UIColor
*/
background: #34C759;


/* Time / Light */

position: absolute;
width: 54px;
height: 21px;
left: 21px;
top: 12px;

border-radius: 20px;


/* 9:41 */

position: absolute;
width: 33px;
height: 15px;
left: calc(50% - 33px/2 + 0.5px);
top: calc(50% - 15px/2);



/* 9:41 */

position: absolute;
width: 28.43px;
height: 11.09px;
left: calc(50% - 28.43px/2 - 0.29px);
top: calc(50% - 11.09px/2 + 0.04px);

background: #000000;
